*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{

}

/* NAV BAR */

nav{
    padding:0 2rem ;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
background-color: #ffff;
box-shadow: 0 1px 3px #ccc;
position: sticky;
top: 0;
z-index: 100;
}

.nav-left > img{
    /* width: 40px; */
    height: 60px;
    margin-right:0px;
    margin-right: 0px;
}

.nav-left, .nav-right{
    display: flex;
    align-items: center;
}

.nav-left > input{
    padding: 5px 10px;
    border: none;
    border-radius: 25px;
    height: 40px;
    outline: none;
    margin-left: 10px;
    background-color: #eee;
}

.nav-middle{
   display: flex;
   align-items: flex-end;
   padding: 5px;
   font-size: 18px;
   max-width: fit-content;
}

.nav-middle a{
text-decoration:none;
color: #1c1e21;
padding: 10px;
margin: 0 10px;
}

.nav-middle a.active{
color: royalblue;
position: relative;

}

.nav-middle a.active:after{
position: absolute;
width: 100px;
height: 3px;
content: ;
bottom: 0;
left: 0;
background: royalblue;
}


.nav-right a{
text-decoration: none;
color: #1c1e21;
height: 40px;
width: 40px;
border-radius: 50%;
background-color: #eee;
place-items: center;
display: grid;
}

.nav-right a > i{
font-size: 18px;
}

/* MAIN CONTENT */

.container{
    display: flex;
    justify-content: space-between;
    padding: 13px 5%;
}

.left-sidebar{
    align-self: flex-start;
    flex-basis: 25%;
    position: sticky;
    top: 70%;
    color: #ffff;
}

.right-sidebar{
    align-self: flex-start;
    flex-basis: 25%;
    /* position: sticky; */
    top: 70%;
    background: #fff;
    padding: 20px;
    border-radius: 20px;
    color: #626262;
}

.main-content{
    flex-basis: 47%;
}

.imp-links a{
    justify-content: center;
    display: flex;
    text-decoration: none;
    margin-bottom: 30px;
    color: #626262;
    width: fit-content;
}

.imp-links a:last-child{
border: #4c4848;
border-radius: 50%;
}

.imp-links {
    border-bottom: 1px solid #ccc;
}

.shortcut-links a{
    justify-content: center;
    display: flex;
    text-decoration: none;
    margin-bottom: 30px;
    color: #626262;
    width: fit-content;
}

.shortcut-links p{
    margin:25px 0 ;
    color:#626262 ;
    font-weight: 500;
}

/* Right-sidebar*/

.sidebar-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
    color: #ffff;
}

.sidebar-title h4{
    font-weight: 600;
    font-size: 16px;
}

.sidebar-title a{
    text-decoration: none;
    color:#1876f2 ;
    font-size: 12px;
}

.event{
    display: flex;
    font-size: 14px;
    margin-bottom: 20px;
}

.left-event{
    border-radius: 10px;
    height:65px ;
    width:65px ;
    margin-right: 15px;
    padding-top:10px ;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.event p{
    font-size: 12px;
}

.event a{
    font-size: 12px;
    text-decoration:none ;
    color: #1876f2;
}

.left-event span{
    position: absolute;
    bottom:0 ;
    left: 0;
    width:100% ;
    background:#1876f2 ;
    color: #ffff;
    font-size:10px ;
    padding: 4px 0;

}